<div class="container">
  <div class="header">
    <span
    [class.selected]="typeSelected === 'buy'"
    (click)="typeSelected = 'buy'">Mua</span>
    <span [class.selected]="typeSelected === 'sell'"
    (click)="typeSelected = 'sell'">Bán</span>
  </div>
  <div class="main">
    <div class="coin-rate">Rate: {{ coinRateBuy }}</div>
    <div class="coin-total">SL khả dụng: {{ totalCoin }}</div>
    <form [formGroup]="buyingForm" class="form-main" (ngSubmit)="onBuyCoin()">
    <div class="steamid">
      <input type="text" [class.error-input]="messIdError" formControlName="steamId" placeholder="Nhập SteamID (ID64)*" />
      <div class="error">{{ messIdError }}</div>
    </div>
    <div class="coin-value">
      <div class="coin-text">
      <input type="text" [class.error-input]="messValueError" class="value" formControlName="coinValue" placeholder="Nhập số coin muốn mua"/>
      <img src="../../../assets/image/exchange-icon.png" />
      <input type="text" placeholder="Số tiền cần thanh toán" formControlName="cashPay"  readonly/>
    </div>
    <div class="error">{{ messValueError }}</div>
    </div>
    <div class="btn-confirm">
      <button type="submit">Thanh toán</button>
    </div>
  </form>
  </div>
</div>
