<div class="container">
  <div class="title">Phương thức thanh toán</div>
  <div class="payments-area">
    <div class="ebank">
      <div class="info-bank">
        <div class="name-bank">Ngân hàng Tiên Phong Bank (TP Bank)</div>
        <div class="num-bank">02003634701</div>
        <div class="name">CTK: Dương Việt Linh</div>
      </div>
      <div class="qr-bank">
        <img src="../../../assets/image/tpbank.jpg" />
      </div>
    </div>
    <div class="momo-wallet">
      <div class="phone-num">SĐT: 0973972084</div>
      <div class="qr-momo">
        <img src="../../../assets/image/momo.jpg" />
      </div>
    </div>
  </div>
  <div class="btn-success">
    <button>Hoàn tất</button>
  </div>
</div>
