*body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1A1C24;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Flama-Medium,Flama,sans-serif;
}